* {
    /*global styles*/
    font-family:
        system-ui, sans-serif; /*set default font to system-based font*/
    line-height: 150%; /*set default line height to 150%*/
}
#output {
    /*styles for output text result*/
    white-space: pre-wrap; /*render text content in multiple lines*/
}
